<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>  
  
<session-factory>  
 <property name="hbm2ddl.auto">update</property>
 <property name="dialect">org.hibernate.dialect.MariaDB103Dialect</property>
 <property name="connection.url">jdbc:mariadb://localhost:3306/db_wimf</property>
 <property name="connection.username">wimf-user</property>
 <property name="connection.password">wimf2019</property>
 <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>

 <mapping resource="user.hbm.xml"/>  
 </session-factory>  
  
</hibernate-configuration>