<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">
    <display-name>What's in my Fridge?!</display-name>
    <welcome-file-list>
        <welcome-file>webapp/WEB-INF/jsp/index.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>wimf.eu.auth0.com</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>kmyy6AWe3mMZwaOmxgQbyqiq5t6wY8J3</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>FkypaF6CZxtzl5PMKqEXamnR__Q1lsDpqi1SGc6CWx_zB645PWHEykfABdbzPNdG</param-value>
    </context-param>
</web-app>
